[Desktop Entry]
Version=1.0
Type=Application
Name=EditarDExtraBlueDV
Comment=
Exec=ls
Icon=
Path=/home/orangepi/bluedv
Terminal=false
StartupNotify=false
Name[es_ES]=.
